html {
    font-family: 'Inconsolata', sans-serif;
}

body {
    padding: 25px 30px;
}

header {
    width:50%;
    margin: 0 auto;
}

h1 {
    font-family: 'Karla', 'PT Sans', sans-serif;
    text-transform: uppercase;
}

header > h1 {
    letter-spacing: 0.15em;
    font-weight: 400;
}


h2 {
    font-family: 'Archivo Narrow', 'PT Sans', sans-serif;
    text-transform: lowercase;
}

header > h2 {
    letter-spacing: 0.15em;
    font-weight: 400;
}

header > h1,
header > h2 {
    text-align: center;
}